html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}
body{ line-height:1}
ol,ul{ list-style:none}
blockquote,q{ quotes:none}
img{ border:none}
blockquote:before,blockquote:after,q:before,q:after{content:''; content:none}
:focus{ outline:0}
ins{ text-decoration:none}
del{ text-decoration:line-through}
table{ border-collapse:collapse; border-spacing:0}
.inline_box{display:inline;float:left;margin-left:10px;margin-right:10px}

.float_right{ float:right}


div.spacer{	width:auto;	height:10px; clear:both}
div.spacer_min{	width:auto;	height:1px; clear:both}
div.spacer_5{	width:auto;	height:5px; clear:both}
div.spacer_15{	width:auto;	height:15px; clear:both}
div.spacer_20{	width:auto;	height:20px; clear:both; background:transparent}
div.spacer_30{	width:auto;	height:30px; clear:both}
div.spacer_40{	width:auto;	height:40px; clear:both}
div.spacer_50{	width:auto;	height:50px; clear:both}
div.spacer_60{	width:auto;	height:60px; clear:both}
div.spacer_70{	width:auto;	height:80px; clear:both}
div.spacer_100{	width:auto;	height:100px; clear:both}
div.spacer_200{	width:auto;	height:200px; clear:both}
div.spacer_300{	width:auto;	height:300px; clear:both}
div.spacer_default{	width:auto;	height:280px; clear:both}
div.spacer_500{	width:auto;	height:500px; clear:both}

div.spacer2{ width:auto;	height:2px}
div.spacer20{ width:auto;	height:20px}
div.spacer25{ width:auto;	height:25px}
div.spacer30{ width:auto;	height:30px}
div.spacer35{ width:auto; height:35px}
  
.push{ margin-left:1px}
.push_10{ margin-left:10px}
.push_20{ margin-left:20px}
.push_30{ margin-left:30px}
.push_40{ margin-left:40px}


.pull_10{ position:relative; left:-10px}
.pull_20{ margin-left:-20px}

.pull_top{ margin-top:-3px}
div.up_5, .pull_top_5{ margin-top:-5px}
.pull_top_20{ margin-top:-20px}
.pull_top_40{ margin-top:-40px}
.pull_top_80{ margin-top:-80px}
.pull_top_100{ margin-top:-100px}
.pull_top_215{ margin-top:-215px}


.pull_top_15{ position:relative; top:-15px}
.pull_top_10{ position:relative; top:-10px}
.pull_top20{ position:relative; top:-20px}
.pull_top25{ position:relative; top:-25px}
.pull_top35{ position:relative; top:-35px}
.pull_top40{ position:relative; top:-40px}
