body, table.list td{ text-align:justify}

.home_image{	
	width:960px;
	height:auto;
	margin:0 0 0 -10px;
	display:block;
	float:left;
	}
	
.center_block{	
	width:940px;
	height:auto;
	float:left;
	margin:-218px 0 10px 14px;	
	}

.pro_menu{
	display:block;
	width:968px;
	float:left;
	margin-top:-2px;
}
.pro_menu div{
	display:block;	
	height:25px;
	float:left;
	padding:14px 0 5px 0;
	margin-top:10px;
	background:url(../images/pro/menus/separation.png) transparent top left no-repeat;
	font-size:10.86pt;
	font-weight:bold;
	color:#CC0033;
	text-align:center;
	text-decoration:none;
}
#internet{ width:121px; background:none; margin-left:4px}
#reseaux{ width:155px}
#telephonie{ width:152px}
#hebergement{ width:150px}
#bbs{ width:210px}
#supports{ width:172px}

#bbs, #supports{ padding-bottom:0}
.pro_menu div:hover, .pro_menu div#internet:hover{ background:url(../images/pro/menus/pro_menu_hover.png) transparent top left repeat-x; color:#fff; cursor:pointer}

.sub_main_menu{ 
	display:none;
	height:auto;
	padding:0 0 10px 0;
	position:absolute;
	/position:relative;
	float:left;
	margin:1px 0 0 -24px;
	background:url(../images/pro/menus/sub_main_menu.png) #fff top left repeat-x;
    border:1px solid #e4e7e9;
    border-top:none;
    z-index:12;
}

.internet{ width:120px; margin-left:0}
.reseaux{ width:154px; margin-left:0}
.telephonie{ width:151px; margin-left:0}
.hebergement{ width:149px; margin-left:0}

.pro_menu div a{
	font-size:10.86pt;
	font-weight:bold;
	color:#CC0033;
	display:block;
	text-align:center;
	text-decoration:none;
	padding:14px 0 10px 0;
	margin-top:-14px;
}
.pro_menu div:hover a, .pro_menu a:hover{ color:#fff}
.pro_menu div:hover .sub_main_menu a{ color:#646363}

.pro_menu .sub_main_menu a{ 
	display:block;
	width:auto;
	color:#646363;
	font-size:12px;
	font-weight:normal;
	text-indent:20px;
	text-align:left;
	text-shadow:none;	
	background:url(../images/pro/menus/list_puce.png) transparent 0px 10px no-repeat;
	margin:0 0 0 10px;
	padding:10px 0 0 0;	
}
.pro_menu div:hover .sub_main_menu a:hover, .pro_menu .sub_main_menu a:hover{ color:#f00}




	/*widecom & widenet*/

article.site_pro div{ position:relative}
.pro_sub_menu{
	display:block;
	width:920px;
	height:40px;
	border-bottom:1px solid #636466;
	margin-left:-10px;
	padding:0 20px;
	position:relative;
}
.pro_sub_menu ul{ float:left; list-style:none}
.pro_sub_menu ul li{ float:left}
.pro_sub_menu ul li a{ font-size:12.5px; font-weight:bold; text-decoration:none; color:#636466; display:block; float:left; border:1px solid #636466; list-style:none; width:auto; height:17px; margin-right:10px; padding:12px 10px 10px 10px}
.pro_sub_menu ul li a:hover, .pro_sub_menu ul li a.current{ color:#fff; background:#cc0033}

.top_cover{ background:url(../images/top_cover.png) transparent top left repeat-x}
.top_cover_gray{ background:url(../images/top_cover_gray.png) transparent top left repeat-x}
.top_cover_short{ background:url(../images/top_cover_short.png) transparent top left repeat-x}

.top_cover_last{ background:url(../images/top_cover_last.png) transparent top left repeat-x}
.top_cover_mid{ background:url(../images/top_cover_mid.png) transparent top left repeat-x}

.top_cover_last_short{ background:url(../images/top_cover_last_short.png) transparent top left repeat-x; margin-bottom:-18px}

.mid_left{ width:450px; height:auto; float:left}
.mid_right{ width:450px; height:auto; float:left; margin-left:20px}

.site_pro .description{
	width:920px;
	display:block;
	height:auto;
	margin:-20px 0 0 -10px;
	padding:20px 20px 0 20px;
	position:relative;
}
#offer_img{ display:block; width:300px; height:230px; float:left; margin:0; padding:0}
#offer_desc{ display:block; width:598px; height:auto; float:right; margin:-1px 0 0 20px}
.regular_content{
	width:920px;
	height:auto;
	display:block;
	float:left;
	margin-left:-10px;
	padding:20px 20px 0 20px;	
}
.regular_content form.customer_infos{ margin-left:20px}
table#wide_plus{ width:900px; height:auto}
table#wide_plus td{ width:auto; height:auto; border:1px solid #000; border-collapse:collapse}

.list_block{ width:215px; height:auto; float:left; margin-left:15px}
.first_item_list{ margin-left:0}
.site_pro .top_cover div.first_item{ margin:0}
.list_block_title{ display:block; width:203px; height:25px; background:#cc0033; border:1px solid #a4aab3; color:#fff; font-weight:bold; font-size:12.5px; text-align:left; padding:10px 0 10px 10px}

.list_block ul li{ margin-top:0px}

.engagements .list_block{ width:168px}
.engagements .list_block_title{ width:156px}
.engagements table.list td{ text-align:justify}
.engagements table.list tr.img td img{ margin-left:-20px; padding-right:20px}

.engagements table.list tr.cell_content_3 td.last_item, .engagements table.list tr.img td.last_item{ width:313px; margin-left:-20px}

.engagements table.list tr.cell_content_3 td{ padding-left:0; width:313px; padding-right:20px}
.engagements div.relative{ position:relative; width:960px; margin-left:-20px}

	/*assistance en ligne*/
/*.pro_sub_menu ul li.last_item{ margin-left:20px}	*/
table.input_items{ margin:-5px 0 0 20px}
table.input_items{ width:auto; height:auto}
table.input_items tr td:first-child{ margin:0; padding:0 10px 0 0; width:14px}
table.input_items td p{ width:900px}
table.input_items input[type="checkbox"]{ margin:2px 0 0 0; padding:0; width:14px; height:14px}
table.input_items textarea{ width:240px; height:80px; margin-left:2px; padding:10px; background:url(../images/contacts/text_area_min.png) transparent left top no-repeat}
a.send{ padding:9px 3px 11px 0}

	/*Modal box*/
.windowslet{
  display:none;
  position: fixed;
  top:0;
  left:0;
  padding-top:60px;  
  width: 100%;
  height: 100%;
  z-index: 2000;
  background:url(../images/newsletter/flash_msg_box.png) top left repeat-x;
}

.windowslet .testimonies{
  width: 710px;
  height:347px;
  padding:10px;
  margin: 0 auto;
  background-color:#fff;
  color: #000;
}	
.windowslet .testimonies .words{ font-size:12px; color:#636466}
.windowslet .testimonies .subscribe_btn{
	margin:0 0 0 260px;
	padding:15px 10px 10px 10px;
	width:162px;
	height:22px;
	font-size:12px;
	text-align:center;
}
.windowslet .testimonies .about_bbs{ width:230px; background:url(../images/pro/for_modal.png) transparent top right no-repeat; margin-left:210px; padding-top:13px}
.windowslet .testimonies .about_bbs:hover{ width:230px; background:url(../images/pro/for_modal_on.png) transparent top right no-repeat}
.close_btn{ position:relative; float:right; font-size:12px; margin-top:-4px}
.testimonies p{ text-align:justify}
.testimonies p.quote{ font-size:17.5px}

.net_by .testimonies{ background:url(../images/pro/temoignages/saholy.png) #fff top left no-repeat}
.priv_net .testimonies{ background:url(../images/pro/temoignages/mbalo.png) #fff top left no-repeat}
.bbs_by .testimonies{ background:url(../images/pro/temoignages/mihamina.png) #fff top left no-repeat}

.testimonies_content{ width:460px; height:347px; float:right; color:#636466}

.sme_btn{ display:block; width:182px; height:41px; background:url(../images/pro/temoignages/sme_btn.png) #c03 left top no-repeat; position:relative; top:295px; left:250px; text-decoration:none}
.sme_btn:hover{ background:url(../images/pro/temoignages/sme_btn_on.png) #c03 left top no-repeat; text-decoration:none}
.priv_net_btn{ display:block; width:183px; height:42px; background:url(../images/pro/temoignages/priv_net_btn.png) #c03 left top no-repeat; position:relative; top:295px; left:250px; text-decoration:none}
.priv_net_btn:hover{ background:url(../images/pro/temoignages/priv_net_btn_on.png) #c03 left top no-repeat; text-decoration:none}
.bbs_btn{ display:block; width:242px; height:42px; background:url(../images/pro/temoignages/bbs_btn.png) #c03 left top no-repeat; position:relative; top:295px; left:250px; text-decoration:none; margin-top:10px}
.bbs_btn:hover{ background:url(../images/pro/temoignages/bbs_btn_on.png) #c03 left top no-repeat; text-decoration:none}

.intros{ font-size:12.489px; line-height:130%}
