/*  CSS Document */

@import url("typo.css");
@import url("format.css");
@import url("prestations.css");
@import url("admin.css");

html{
	margin:0;
	padding:0;
	}
body{
	width:100%;	
	height:auto;
	margin:0 auto;
	float:none;
	background:url(../images/body.png) #d5e0e6 0px 126px repeat-x;	
	}
div, p{
	margin:0;
	padding:0;
	}
div#header_top{
	width:100%;
	height:126px;
	background:url(../images/header_top.png) 50% 0% no-repeat;
	margin:0 auto;
	}
header{
	width:968px;
	height:126px;
	display:block;
	}
#top_menu{
	width:968px;
	height:29px;
	display:block
	}

#top_menu ul{ padding:0 0 0 5px; height:29px, display:block}
#top_menu li{ float:left; padding:7px 9px 0 11px; margin:0 29px 0 0;height:15px; width:auto; display:block}
#top_menu li.current, #top_menu li:hover{ background:url(../images/bg/top_menu.png) transparent top left repeat-x}
#top_menu #last_item{ margin:0 0 0 2px}
#top_menu li a{ font-size:11px; color:#fff; display:block; height:11px; width:auto; float:left}
#top_menu li a:hover{ text-decoration:none}	

#logo{ width:160px; height:77px; text-decoration:none; background:url(../images/bg/logo.png) top left no-repeat; margin:21px 0 0 4px; float:left}

#search_form{ width:540px; height:50px; margin:35px 0 0 20px; float:left}
#search_form #search_field{ width:348px; height:21px; position:absolute; margin:0; font-size:12px; color:#636466; background:url(../images/search_field.png) top left no-repeat; border:none; float:left; display:block; padding:0 10px}
#search_form #search_btn{ width:162px; height:16px; padding-top:5px; font-size:12px; text-align:center; font-weight:bold; color:#fff; background:url(../images/bg/search_btn.png) transparent bottom left no-repeat; display:block; float:right}
#search_form #search_btn:hover{ cursor:pointer; background:url(../images/bg/search_btn_on.png) transparent bottom left no-repeat}
#search_form .search_radio{ border:none; margin:25px 0 0 0}
#search_form .radio_txt{ position:relative; top:-3px}

#quick_access{ width:185px; height:80px; margin:12px 0 0 0; float:right; background:url(../images/bg/quick_access.png) transparent top left no-repeat}
#quick_access label{ margin:8px 0 0 12px; float:left; color:#666}
#quick_access fieldset{ width:130px; height:22px; margin:0 0 2px 10px; padding:0; background:url(../images/bg/quick_fieldset.png) transparent bottom right no-repeat; float:left}
#quick_access fieldset.pass{ background:url(../images/quick_pass.png) transparent bottom right no-repeat}
#quick_access .mail_field, #quick_access .pass_field{ border:none; color:#afb4b9; font-size:10px; background:none; position:absolute}
#quick_access .mail_field{ width:112px; height:15px; margin:3px 0 0 7px; padding:0}
#quick_access .pass_field{ width:110px; height:22px; padding:0 10px}
.ok_btn{ width:32px; height:23px; color:#fff; font-size:12px; font-weight:bold; background:url(../images/bg/ok_btn.png) transparent bottom left no-repeat; border:none; float:left; margin-left:10px; padding-bottom:1px}
.ok_btn:hover{ background:url(../images/bg/ok_btn_on.png) transparent bottom left no-repeat; cursor:pointer}
		
div#container{
	width:968px;
	height:280px;
	min-height:280px;
	height:auto;
	margin:-126px auto 0 auto;
	z-index:2000;

	}
.main_menu{
	width:968px;
	height:53px;
	background:url(../images/main_menu.png) transparent top left no-repeat;
	margin:-1px auto 5px auto;
	display:block;
	}

.main_menu ul{ padding:10px 0 0 14px; height:40px; width:954px}
.main_menu li{ float:left; margin:0 10px 0 0; width:180px; height:40px; text-align:center}
.main_menu #last_item{ margin-right:0}
.main_menu li a{ text-decoration:none; text-shadow: 1px 1px 1px silver; display:block; width:180px; height:38px; font-weight:bold; font-size:14px; color:#CC0033 ; padding-top:12px}
.main_menu li a:hover, .main_menu li.current a{ background:url(../images/bg/main_menu_on.png) transparent top left no-repeat; color:#fff}	


/*Contenu principal*/	
div#main_top{	
	width:968px;
	height:225px;
	background:url(../images/main_top.png) transparent left top no-repeat;
	float:left;
	margin-top:-7px;
	}

div#main_content{	
	width:968px;
	height:auto;
	background:url(../images/main_content.png) transparent left top repeat-y;	
	float:left;
	margin:4px 0 10px 0;
	}


	/*Contenu droite*/
.right_block{
	width:180px;
	height:auto;
	float:right;
	margin:-208px 14px 0 0;
	}

#social_net{ width:180px; height:40px; margin:0; padding:0; float:left}
#social_net a{ display:block; width:40px; height:40px; float:left; margin-right:6px}
#social_net .last_item{ margin:0 0 0 1px}
#social_net a:hover{ cursor:pointer; text-decoration:none}
#rss{ background:url(../images/bg/rss.png) transparent top left no-repeat}
#utube{ background:url(../images/bg/utube.png) transparent top left no-repeat}

#fb{ background:url(../images/bg/fb.png) transparent top left no-repeat}
#twiter{ background:url(../images/bg/twiter.png) transparent top right no-repeat}

#newsletter{ width:180px; height:40px; margin-top:10px; padding-top:20px; float:left; background:url(../images/bg/newsletter.png) transparent top left no-repeat}
#newsletter fieldset{ width:136px; height:22px; margin-left:0; padding:0; background:url(../images/bg/newsletter_field.png) transparent bottom right no-repeat; float:left}
#newsletter .mail_field{ width:120px; height:14px; margin:2px 0 0 7px; border:none; color:#b5b5b5; font-size:10px; background:url(../images/bg/field_area.png) transparent bottom left repeat-x}
#newsletter .ok_btn{ margin-left:10px}
#newsletter label{ color:#636466}

#hotline{ width:180px; height:72px; margin-top:10px; padding-top:17px; float:left; background:url(../images/bg/newsletter.png) transparent top left no-repeat}

#infos{ width:160px; height:150px; margin-top:10px; padding:10px 10px 0 11px; float:left; background:url(../images/triple_play/infos.png) top left no-repeat; color:#636466}
#infos figure{ width:159px; height:81px; display:block}

#infos_txt{ width:160px; height:56px; line-height:10px; margin-top:10px}

#center_right{ width:180px; height:auto; float:left}
#right_menu{ width:180px; height:auto; display:block; margin-top:10px}
#right_menu ul{ width:180px; height:auto;}
#right_menu li{ margin-bottom:10px; padding-top:10px; background:url(../images/triple_play/right_menu.png) transparent top left no-repeat; display:block}
#right_menu #for_news{ height:40px; margin-bottom:10px}
#right_menu #for_news #newsletter{ background:none; height:22px; margin-top:-10px}
#right_menu a, #right_menu label{ width:160px; height:auto; display:block; margin:0 0 0 20px}
#for_news label{ color:#636466}
#right_menu a{ color:#CC0033}
#right_menu .last_item{ height:36px}

.at300bs{ background:none}
.addthis_button_compact{ height:10px; position:relative; top:-15px}
span.at15t_compact{ background:none}


	/*Contenu gauche*/	
.left_block{	
	width:752px;
	height:auto;
	float:left;
	margin:-210px 0 0px 14px;	
	}
article.site_pro{ margin-top:-220px}	
div#pub{	
	width:750px;
	height:208px;
/*	background:url(../images/pub.png) transparent left top no-repeat;*/
	margin:2px 0 10px 0;	
	}	

	/*Breadcrumb*/
#ads, #ads *{ float:left; display:block}
#ads{ width:750px; height:42px}
#breadcrumb { margin-left:2px; width:748px; height:12px}
#breadcrumb a, #breadcrumb span{ color:#636466; display:inline; float:none}
#breadcrumb span:hover{ cursor:default}
#ads #ads_txt{ width:568px; height:24px; display:block; float:left}

.subscribe_btn{ width:140px; height:28px; background:url(../images/triple_play/subscribe_btn.png) transparent top left no-repeat; font-size:14px; font-weight:bold; color:#fff; padding:14px 12px 0 30px; margin:-12px 0 0 0px; display:block; float:left}
.subscribe_btn:hover{ background:url(../images/triple_play/subscribe_btn_on.png) transparent top left no-repeat; text-decoration:none}

	/*Articles*/
#sub_page{ width:750px; height:auto; background:url(../images/sub_page/sub_page_top.png) transparent top left no-repeat; float:left; margin-top:10px}
#sub_page_menu li{ float:left}
#sub_page_menu a{ display:block; width:180px; height:28px; margin:2px 10px 0 0; color:#939598; font-size:12px; text-align:center; padding-top:12px}
#sub_page_menu li.first_item{ margin:0 -1px 0 1px}

#sub_page_menu li.current a, #sub_page_menu a:hover{ color:#CC0033 ; text-decoration:none; background:url(../images/sub_page/sub_page_tab.png) transparent top left no-repeat}
#sub_page_menu li.last_item a{ margin-left:-1px; margin-right:0}
#sub_page_content{ width:750px; height:auto; background:url(../images/sub_page/sub_page_content.png) #fff top left repeat-y; float:left; padding-bottom:0px}
.sub_page_inner{ width:748px; height:auto; background:url(../images/sub_page/sub_page_inner.png) #fff top left repeat-x; float:left; margin-left:1px; padding-top:20px; color:#636466}
#sub_page_bottom{ width:750px; height:3px; background:url(../images/sub_page/sub_page_bottom.png) #fff bottom left no-repeat; float:left}

	/*Page promos*/
.promo_page #ads #ads_txt{ width:740px}	
	
#sub_page_promo{ width:750px; height:auto; float:left; margin-top:10px; padding-top:5px}
#sub_page_content_promo{ width:750px; height:auto; background:url(../images/sub_page/sub_page_content.png) #fff top left repeat-y; float:left}
.sub_page_inner_promo{ width:750px; height:auto; background:url(../images/sub_page/sub_page_inner_promo.png) transparent top left no-repeat; float:left; color:#636466; padding:20px 1px 0 0; margin-top:-6px}
.sub_page_inner_promo p{ margin-bottom:20px}
.sub_page_inner_promo ul li{ margin-bottom:20px; padding:0 0 0 20px; background:url(../images/triple_play/puce.png) transparent 0px 12px no-repeat; display:block}
.sub_page_inner_promo .visuels_container{ width:708px; height:auto; background:url(../images/sub_page/visuels_bg.png) transparent top left repeat-x; float:left; margin:0 0 0 1px; padding:20px 20px}

	/*Listes*/
ul.list_puce li{ margin-top:20px; padding:0 0 0 20px; background:url(../images/puce.png) transparent 0px 3px no-repeat; display:block}
.with_puce{ background:url(../images/triple_play/puce.png) transparent 0px 3px no-repeat; display:block; text-indent:20px}
.with_puce_txt{ background:url(../images/triple_play/puce.png) transparent 0px 3px no-repeat}

	/*Tarifs*/
div.sub_page_inner_promo #description{ width:710px; height:auto; margin:0 0 20px 20px; padding-top:0}
div.sub_page_inner_promo #description p{ margin-bottom:0}
div.sub_page_inner_promo div.min_tab{ height:100px}
div.sub_page_inner_promo .price #tab_left, div.sub_page_inner_promo .price #tab_center, div.sub_page_inner_promo .price #tab_right{ float:left; margin-right:10px; height:auto}

div.sub_page_inner_promo div.price{ width:455px; height:140px}
div.sub_page_inner_promo .price #tab_left{ width:130px}
div.sub_page_inner_promo .price #tab_center, div.sub_page_inner_promo .price #tab_right{ width:147px}
div.sub_page_inner_promo .price span{ height:22px; padding:10px; display:block; border:1px solid #a4aab3}
div.sub_page_inner_promo .price #tab_left span{ width:110px}
div.sub_page_inner_promo .price #tab_center span{ width:140px; text-align:center; margin-left:1px}
div.sub_page_inner_promo .price #tab_right span{ width:127px; text-align:center; margin-left:15px}
div.sub_page_inner_promo .price .cells{ background:url(../images/tarifs/gray_cells.png) #d1d4d5 0% 50% repeat-x; color:#000; font-size:11px}
div.sub_page_inner_promo .price #tab_center .rowspan1{ height:10px; padding:43px 10px; background:url(../images/tarifs/gray_cells.png) #d1d4d5 0% 0% repeat-x}
div.sub_page_inner_promo .price .titling{ background:url(../images/tarifs/red_cells.png) #c03 0% 54% repeat-x; color:#fff; font-weight:bold; font-size:11px}
div.sub_page_inner_promo .price #tab_left .head, div.sub_page_inner_promo .price #tab_center .head, div.sub_page_inner_promo .price #tab_right .head{ height:10px; padding:10px; text-align:center; font-size:11px; background:url(../images/tarifs/red_cells.png) #c03 0% 50% repeat-x}
div.sub_page_inner_promo .price #tab_left .to_hide{ background:none; border:none; width:110px}


#sub_page_content_promo .map{ padding:20px 0 0 20px}
#sub_page_content_promo .map_link{ float:right; margin:-7px 40px 0 0; position:relative; /top:-13px}
#sub_page_content_promo .mask{ width:710px; height:3px; background:url(../images/gmap_mask.png) #eee top left repeat-x; position:relative; top:-602px}

table.list{ width:auto; height:auto}
table.list td{ width:177px; height:auto; font-size:12px; padding:0 0 0 20px; line-height:115%; text-align:left}
table.list tr.title td{ background:url(../images/triple_play/puce.png) transparent 0px 1px no-repeat; font-weight:bold}
table.list tr.title td.no_puce{ background:none}

.points table.list td{ width:218px}
.points table.list .e_mail{ color:#c03; font-size:11px; font-weight:bold}
.points table.list .tel{ font-size:11px; font-weight:bold}

.site_pro table.list{ width:920px}
.site_pro table.list td.cell_content, .site_pro table.list tr.cell_content td{ width:210px}
.site_pro table.list tr.cell_content_2 td{ width:430px; padding-right:10px}
.site_pro table.list td.cell_content_3{ width:480px; padding-right:20px}
.site_pro table.list tr.cell_content_3 td{ width:480px; padding-right:20px}

#sub_page_content_promo div.list{ height:597px}
div.sub_page_inner_promo div.rss{ width:auto; padding-left:0; padding-bottom:15px}
div.sub_page_inner_promo div.rss figure.visuels{ margin:0 0 0 16px}
div.sub_page_inner_promo div.rss figure.visuels p.ttl{ height:32px; margin-bottom:0}
div.sub_page_inner_promo div.rss figure.first_item{ margin-left:20px}


	/*Promotions*/
#promotions{ width:960px; height:201px; padding:0 0 0 5px; float:left; margin-left:-1px}	
a.promo{ width:180px; height:200px; background:transparent; display:block; float:left; margin:0px 10px 0 0; padding:0; position:relative; text-decoration:none}
#promotions a.first_item{ margin-left:10px}

	/*images bas*/
.image_links{ width:960px; height:201px; padding:0 0 0 5px; float:left; margin:-1px 0 1px -1px; position:relative}	
.image_links .picto{ width:180px; height:200px; background:transparent; display:block; float:left; margin:0px 10px 0 0; padding:0}
.image_links .first_item{ margin-left:10px}	
.image_links .first_item{ width:370px}

/*gmap*/

.black_box{ width:178px; height:42px; position:relative; margin:-55px 0 0 1px}
.first_item .black_box{ margin-left:1px}
.black_box p{ width:160px; height:24px;margin-left:10px; padding-top:10px; color:#525356; font-size:13px; text-align:left}
.black_box{ text-decoration:none}
.black_box .read_more{ display:block; width:160px; height:18px; color:#fff; font-weight:bold; font-size:12px; text-decoration:none; text-align:center; padding:10px 0 2px 0; background:url(../images/bg/promo_readmore.png) transparent top right no-repeat}
.black_box .read_more:hover{ background:url(../images/bg/promo_readmore_on.png) transparent top right no-repeat}
.black_box .read_more .arrow{ font-weight:normal; font-size:11px}
.black_box .left{ margin-left:-35px}
.white_box{ display:none}



footer{
	width:965px;
	height:12px;
	background:url(../images/main_bottom.png) transparent left top no-repeat;
	margin:-220px 0 0 0;
	display:block;
	padding:227px 0 100px 3px;
	float:left;
	}
footer a{ font-size:10px; color:#666}
footer #bottom_links{ display:block; font-size:10px; float:right; margin-right:5px; /margin-top:-10px}
	
@media only screen and (-webkit-min-device-pixel-ratio:0){ 
	form#search_form{ margin-top:32px}
}



/************************************/




/*Tarifs*/
.price_tabs{ width:auto; height:auto; float:left}
.left_col, .center_col, .right_col{ float:left; margin-right:10px; height:auto}
.price_tabs span{ display:block; margin-bottom:10px; font-weight:bold; line-height:120%; text-align:center; padding:9px 10px 11px 10px; border:1px solid #a4aab3}
.price_tabs span.title, .price_tabs span.title2{ height:8px; padding:8px 10px 12px 10px; font-size:10px; color:#fff; background:url(../images/tarifs/red_cells.png) #CC0033 0% 47% repeat-x}
.price_tabs span.cell{ background:url(../images/tarifs/gray_cells.png) #d1d4d5 left top repeat-x; color:#c03; font-size:14px}

.left_col{ width:170px}
.left_col span{ width:148px}
.left_col span.title{ width:150px; height:10px; background:none; border:none}
.left_col span.cell{ height:48px; background:url(../images/tarifs/red_cells.png) #CC0033 0px -4px repeat-x; color:#fff; font-size:10px; text-align:left}

.center_col{ width:135px}
.center_col span{ width:113px}
.center_col span.cell{ height:35px; padding-top:22px}

.right_col{ width:135px}
.right_col span{ width:113px}
.right_col span.cell{ height:35px; padding-top:22px}

.price_tabs span.rowspan, span.rowspan1, span.rowspan2, span.rowspan3 { background:url(../images/tarifs/tarif_rowspan.png) #d1d4d5 0% 0% repeat-x}

	/*Triple Play*/
div.triple_play .center_col span.rowspan{ height:109px; padding-top:108px}

	/*4G*/
div.quatg .left_col{ width:136px}
div.quatg .left_col span{ width:114px}
div.quatg .left_col span.title{ width:116px}
div.quatg .left_col span.cell{ height:22px; background-position:0% 50%}

div.quatg .center_col{ width:137px}
div.quatg .center_col span{ width:115px}
div.quatg .center_col span.rowspan1{ height:70px; padding-top:69px; background-position:0% 0%}
div.quatg .center_col span.rowspan2{ height:45px; padding-top:40px; background-position:0% 0%}

div.quatg .right_col{ width:137px}
div.quatg .right_col span{ width:115px}
div.quatg .right_col span.cell{ height:19px; padding-top:12px; background-position:0% 50%}

/*Phone*/

div.phone .left_col{ width:177px}
div.phone .left_col span{ width:155px}
div.phone .left_col span.title{ width:170px}
div.phone .left_col span.title2{ text-align:left}
div.phone .left_col span.cell{ height:25px; background-position:0% 50%}

div.phone .center_col{ width:142px}
div.phone .center_col span{ width:120px}
div.phone .center_col span.cell{ height:22px; background-position:0% 25%; padding-top:12px}

div.phone .right_col{ width:142px}
div.phone .right_col span{ width:120px}
div.phone .right_col span.cell{ height:22px; background-position:0% 25%; padding-top:12px}

div.phone div.left_col span.rowspan, div.phone div.center_col span.rowspan, div.phone div.right_col span.rowspan{ height:58px; background-position:0% 0%; padding-bottom:12px; padding-top:8px}
div.phone div.left_col span.rowspan{ background:url(../images/tarifs/red_cells.png) #CC0033 0% 0% repeat-x}
div.phone div.center_col span.rowspan, div.phone div.right_col span.rowspan{ padding-top:30px; height:36px; background-position:0% 0%}


div.mobile div.center_col span.title2, div.mobile div.right_col span.title2{ font-size:9.5px; padding-top:10px; padding-bottom:10px}
div.mobile div.left_col span.title2{ text-align:left}
div.mobile div.left_col span.cell{ height:10px; padding:8px 10px 12px 10px; font-size:14px; background-position:0% 50%}
div.mobile div.left_col span.thin{ font-size:10px}
div.mobile div.center_col span.cell, div.mobile div.right_col span.cell{ height:10px; padding:8px 10px 12px 10px}

.illimite:hover, .access:hover, .pack_1:hover, .pack_2:hover, .pack_3:hover, .tp_access:hover{ cursor:default}
.popup_txt{ border:1px solid #c03; background:#fff; padding:3px 5px 3px 9px}
span.pop_up img{ margin-right:10px}



	/*Page login*/
div#login {
  top:0;
  left:0;
  width:100%;
  margin-top:20px;
  height: auto;
  position:relative;
}

#login .container{
  width: 968px;
  height:364px;
  margin: 0 auto;
  color: #000;

}

#login span.msg_title{
	display:block;
	position:relative;
	top:30px;	
	font-size:24px;
	font-weight:bold;
	color:#cc0033;
	text-align:center;
	text-shadow:1px 1px 1px #fff
}
#login form{
	margin:80px auto 0 auto;
	width:360px;
	height:85px;
	font-size:13px;
	color:#636466;
	border:1px solid #c03;
	text-align:left;
	padding:20px
}
#login form fieldset.label{
	float:left;	
}
#login form fieldset.label label{
	display:block;
	width:160px;
	height:20px;
	font-size:16px;
	font-weight:bold;
	color:#c03;
	margin:5px 0 40px 0;
}
#login form fieldset.entries{
	float:right;	
}
#login form fieldset.entries input{
	display:block;
	width:155px;
	height:15px;
	padding:5px;
	margin-bottom:30px;
	border:1px solid #c03;
	font-size:13px	
}
#login form fieldset.label label + label, #login form fieldset.entries input + input{ margin-bottom:0}
#login form input[type="submit"], #login form input[type="button"]{
	width:95px;
	height:27px;
	background:#c03;	
	border:none;	
	color:#fff;
	font-size:13px;
	padding-bottom:3px;
	position:relative;
	top:40px;
	float:left
}
#login form input[type="submit"]{ left:-181px}
#login form input[type="button"]{ left:30px}

#login form input[type="submit"]:hover, #login form input[type="button"]:hover{
	background:#a4001e;
	cursor:pointer
}
#login .container .next{
	margin:0 0 0 390px;
	padding-top:9px;
}
#login .container .next:hover{
	cursor:pointer;
}


	/*Messsage newsletter*/	
#flash {
  padding-top: 135px;
  position: fixed;
  top:0;
  left:0;  
  width: 100%;
  height: 100%;
  z-index: 2000;
  background:url(../images/newsletter/flash_msg_box.png) top left repeat-x;
}

#flash .container{
  width: 500px;
  height:300px;
  margin: 0 auto;
  background:#fff;
  color: #000;
}

#flash p {
  margin: 10px;
}
#flash span.msg_title{
	position:relative;
	top:20px;
	left:20px;
	font-size:24px;
	font-weight:bold;
	color:#cc0033;
}
#flash p.msg_content{
	margin:30px 0 0 20px;	
	width:460px;
	height:180px;
	font-size:14px;
	line-height:120%;
	color:#636466;
}
#flash span.next{
	margin:20px 0 0 170px;
	padding-top:9px;
}
span.next:hover{
	cursor:pointer;
}

div.hotline .list_puce{ margin-top:-20px}
div.hotline ul.list_puce li{ margin-top:20px; padding:0 0 0 20px; background:url(../images/triple_play/puce.png) transparent 0px 3.5px no-repeat; display:block}

#speedtest{ width:450px; height:250px; margin:20px 0 20px 20px}





/*Nouveaux tarifs*/
/*
.add_puce{ background:url(../images/tarifs/price_puce.png) transparent 0px 5px no-repeat; padding-left:14px}
div#front_content{ width:auto; height:auto; text-align:center; margin:0 auto; width:auto; float:left; margin:10px 0 20px 30%; color:#000}
div#front_content span.price{ height:4px; padding:5px 15px; width:auto; background:#c03; color:#fff}

div.tab_title{ width:auto; height:auto; margin-left:0px; float:left; color:#c03; font-size:18px}

#phone_price_tab{ width:540px; height:auto; border:none; margin-bottom:30px}
table#phone_price_tab tr td{ padding-top:4px; font-size:12.5px; color:#000; width:150px}
table#phone_price_tab tr td+td{ padding-left:20px; width:140px}
table#phone_price_tab tr.title td{ border-bottom:2px solid #c03; padding-bottom:10px; color:#c03; font-size:16px}

table#phone_price_tab tr#first_item td{ padding:10px 0 5px 0; width:200px}
table#phone_price_tab tr#first_item span{ padding-left:140px; text-align:left}

table#phone_price_tab tr#last_item td{ border-bottom:2px solid #c03; padding-bottom:10px}
table#phone_price_tab td.last_item{ border-left:1px solid #c03; padding-left:15px; width:165px}
tr.content{ font-size:12.5px; color:#000}
table#mobile_price_tab{ width:540px; height:auto; margin-top:15px}
table#mobile_price_tab tr.title td{ padding:0 10px 5px 0px; color:#c03; font-size:14px; font-weight:normal}
table#mobile_price_tab span.add_puce{ text-indent:10px; padding-left:15px}
table#mobile_price_tab span.price{ float:left; width:110px; padding:6px 10px 5px 10px; background:#c03; color:#fff; text-align:left; margin-top:15px}
*/
.add_puce{ background:url(../images/tarifs/price_puce.png) transparent 0px 5px no-repeat; padding-left:14px}
span.price{ float:left; width:110px; padding:5px 10px 5px 15px; background:#c03; color:#fff; text-align:left; margin-top:15px; font-size:11px}


div#front_content{ width:auto; height:auto; text-align:center; margin:0 auto; width:auto; float:left; margin:10px 0 20px 30%}
div#front_content span.price{ height:4px; padding:5px 15px 12px 15px; width:auto; background:#c03; color:#fff; margin:0 0 0 70px}

.tab_title{ width:auto; height:auto; margin-left:0px; float:left; color:#c03; font-size:18px}
span.options{ color:#c03; font-size:13px}

#phone_price_tab{ width:540px; height:auto; border:none}
table#phone_price_tab tr td{ padding-top:4px; font-size:12.5px; width:150px; color:#636466}
table#phone_price_tab tr td+td{ padding-left:20px; width:140px}
table#phone_price_tab tr.title td{ border-bottom:2px solid #c03; padding-bottom:10px; color:#c03; font-size:16px}




table#phone_price_tab tr#last_item td{ border-bottom:2px solid #c03; padding-bottom:10px}
table#phone_price_tab td.last_item{ border-left:1px solid #c03; padding-left:15px; width:165px}
tr.content{ font-size:12.5px; color:#636466}

table#mobile_price_tab{ width:580px; height:auto; margin-top:15px}
table#mobile_price_tab tr.title td{ padding:0 10px 5px 0px; color:#c03; font-size:12.5px; font-weight:bold; color:#636466}
table#mobile_price_tab span.add_puce{ text-indent:10px; padding-left:15px}

	/*tv*/
div.tv table#mobile_price_tab{ width:710px}
div.tv table#mobile_price_tab tr.title td{ font-weight:bold}
div.tv tr.content figure{ display:block; width:345px; height:180px}	
div.tv span.price{ margin-left:30%}

	/*tp*/
table.tp{ margin-left:40px}
table.tp .add_puce{ font-size:12.2px}
.mid_txt{ position:relative; left:-40px; top:30px; font-size:12.5px}

div.hat{ float:left; width:748px; height:15px; background:url(../images/top_cover.png) transparent top left repeat-x; margin-left:-20px}


@media screen and (-webkit-min-device-pixel-ratio:0){ 
	.popup_txt{ padding-left:15px}
}















