body{font:12.4px 'Arial', Liberation Sans, FreeSans, sans-serif, Helvetica Neue}
a{ text-decoration:none}
a.current, a:hover{ text-decoration:underline}
a:hover{ cursor:pointer}
a:focus{outline:1px dotted}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:24px}
h2{font-size:21px}
h3{font-size:18px}
ol{list-style:decimal}
ul{list-style:none}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}
.titling{ font-size:24px; font-weight:bold}
.titling_thin{ font-size:24px; line-height:130%}
.titling2{ font-size:22px; font-weight:bold}
.sub_title{ font-size:16px; font-weight:bold}
.sub_title1{ font-size:18px; font-weight:bold}
.sub_title1_thin{ font-size:18px}
.sub_title2{ font-size:12.5px; font-weight:bold}
.sub_title3{ font-size:17px; font-weight:bold}
.sub_title4{ font-size:14px; font-weight:bold}
.tostyle:hover{ text-decoration:underline}
.bold{ font-weight:bold}
.thin{ font-weight:normal; font-size:10px}
.small{ font-size:10px}
.white{ color:#fff}
.red{ color:#CC0033}
.gray{ color:#636466}
.black{ color:#000}
.title{ font-weight:bold; font-size:12px}
.medium_title{ font-weight:bold; font-size:11px}
.smaller{ font-size:11.3px; line-height:120%}
.medium{ font-size:12px; line-height:120%}
.large{ font-size:12.5px; line-height:130%}
.bigger{ font-weight:bold; font-size:36px}
