﻿/*
    coloration des lignes dont le reste !=0
*/
.row{
    background-color:#cbc8c8;
    border:1px solid;
    border-color:#3d3a3a;
}
/*
    css de thead du tableau
*/
.head{
    background-color:#a6a4a4;
    border-collapse:collapse;
    border:1px solid;
    border-color:#3d3a3a;
}
/*
    css du bouton
*/
button{
	background:#3d3a3a;
	border:0px;
    font-family:"Arial" bold;
    font-size:16px;
	color:#ffffff;
	border-radius:10px 10px 10px 10px ;
	cursor:pointer;
	height:50px;
    width:200px;
    display:block;
    margin:auto;
    margin-bottom:25px;
}
/*
    css des colonnes
*/
table td{
    text-align:center;
    border-right:1px solid #000000;
}
th{
    white-space:nowrap;
}
thead{
    color:#FFFFFF;
    cursor: pointer;
    font-weight: bold;
    border-right:1px solid #000000;
}

/*
    css du tableau entier
*/
table{
    border-collapse:collapse;
    border:1px solid;
    border-color:#3d3a3a;
    margin-top:25px; 
    white-space:nowrap;/*non à la ligne*/
}

/*
    css de la barre de progression interne dynamisée
*/
#insidebar{
	height: 20px;
    background: #9b8181;
    display:none;
}
/*
    css de la barre de progression exterieure figée
*/
#outsidebar{
	margin:auto;
	width: 250px;
    height: 20px;
    background: #FFF;
    padding: 3px;
    border: 1px solid #DDD;
    margin-top:25px;
    margin-bottom:25px;
    display:none;
}