td 
{
    text-align: left;
    padding-left: 10px;
	padding-right: 10px;
	white-space:nowrap;
}
table 
{
    vertical-align: middle;
	border: 0.1em solid #7c7c7c;
	border-radius:5px;
	background-color:#ffffff;
}
tr.ligne_couleur_2
{
	background-color:#e2e2e2;
}
tr.ligne_couleur_1
{
	background-color:#ffffff;
}
th
{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:8px;
	white-space:nowrap;

}

thead
{
	background-color:#5d5b5b;
	vertical-align: middle;
	text-align:left;
	color:#ffffff;
}
.croissant
{
	padding-left:15px;
	padding-top:5px;
	cursor:pointer;
}
.decroissant
{
	padding-left:10px;
	cursor:pointer;
}
#premier
{
	display:none;
	background-color:white;
	width:400px;
	height:20px;
	border: 1px solid #e2e2e2;
	border-radius:7px;
	margin-bottom:20px;
	margin:auto;
}

#deuxieme
{
	display:none;
	width:400px;
	height:20px;
	border-radius:7px;
    margin-bottom:20px;
	background-image:url(images/progress.png);
	overflow:hide;
}
.bouton
{
	background-image:url(images/fond_btn.png);
	background-repeat:repeat-x;
	border-radius:10px;
	border-color:#686767;
	height:64px;
	display:block;
	cursor:pointer;
	margin:auto;
	color:#c6c6c6;
	font-family:Broadway, Arial, serif;
	font-size:20px;
	font-weight:bold;
}
.bouton:hover
{
	color:#3280ea;
}
body
{
background-color:#888888;
	
}
