table {
	border:1px solid #333333;
	border-collapse:collapse;
}

table td { 
	border:1px solid #333333;
}

table .non_coloree td{
	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
}

table .coloree td{
	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
}

.boutton{
	background:#333333;
	border:0px;
	color:#ffffff;
	border-radius:5px 5px 5px 5px ;
	cursor:pointer;
	height:30px;
	margin:auto;
	display:block;
	box-shadow: 5px 5px 5px #888888;
}
.boutton:hover {
	color:#00ff00;
	box-shadow: 5px 5px 5px #666666;
}
.coloree{
	background-color:#dddddd;
}
.entete{
	background-color:#555555;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	height:30px;
}
.text_entete{
	padding-left:7px;
	padding-right:20px;
}
/*lien croissant (image)*/
.croissant{
	margin-right:5px;
}
.decroissant{
	margin-right:10px;
	margin-left:10px;
}
.croissant:hover{
	cursor:pointer;
}
.decroissant:hover{
	cursor:pointer;
}
.zone_texte{
	background-color:#00ff00;
	width:100%;
	display:block;
	border:0px;
	color:#ffffff;
	border-radius:5px 5px 5px 5px;
	padding: 5px;
	font-weight:bold;
}
.zone_texte:hover{
	background-color:#00ee00;
}
#barre_progress{
	width:800px;
	margin:auto;
}
#progress{
	background:#dddddd;
	height:20px;
	display:none;
	margin:auto;
	width:800px;
	float:left;
	border-radius:5px 5px 5px 5px;
	z-index:1;
	box-shadow: 5px 5px 5px #888888;
}

#progress_pourcentage{
	background:url("images/barreprogression.png");
	height:20px;
	margin:auto;
	width:800px;
	display:none;
	position:absolute;
	border-radius:5px 5px 5px 5px; 
	float:left;
	text-align:center;
	margin-bottom:20px;
	z-index:2;
	color:#333333;
	font-size:16px;
	font-weight:bold;
	box-shadow: 2px 2px 2px #888888;
}