﻿button{
    color: #f3f3f3;
    margin:auto;
    display: block;
    background-color: #628296;
    border-color:#f6f6f1 #f4f4ed #f1f1e8;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    text-align:center;
    cursor:pointer;
    padding: 4px 17px;
}
#externe {
    margin:20px auto;
    background-color:#88b735;
    width:250px;
    display:none;
}
#interne{
    background-color:#3a5264;
    width:250px;
    display:none;
}

td, th{
    padding: 0px 5px;
    white-space: nowrap;
}
th{
    color: #f3f3f3;
}
input{
    width:100%;
    margin:0px -2px;
}
img{
    cursor: pointer;
}