body{
    text-align: center;
	font-family: Times New Roman;
    background: #f1e2a3;
}

table{
	border: 1px solid #000000;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border-right: 1px solid black;
	white-space: nowrap;
	text-align: center;
}

/*Bouton*/
button{
	font-size: 18px;
	font-weight: bold; 
    background: #696969;
    width: 200px;
    height: 30px;
    border-radius: 1em;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.4);    /* affichage d'ombre*/
}

/*En tete*/
#zone_head{ 
    background: #f1e2a3;   
    height: 60px;
    padding-top: 30px;
}

/*Contenu*/
#contenu{
	margin-left: auto;
    margin-right: auto;    
    background: #efecca; 
	overflow: scroll ; /*affichage scroll*/  
	height:700px;
    width:100%;	
}

.en_tete{
    background: #696969;
	font-weight: bold;
    font-size: 18px;
	border-bottom: 1px solid black;
}

.couleur1{
	background: #a7a37e;
}

.couleur2{
	background: #efecca;
}

/* Barre de progression*/
#cadre{    
    font-size: 18px;
	font-weight: bold; 
	float: left;   
    border-style: outset;
    width: 600px;
    height: 20px;
    border-radius: 1em;
    display:none;
}

#barre{
    background: #90ee90;
    width: 600px;
    height: 20px;
    display:none;   
    border-radius: 1em; 
}

.texte{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
